@import '../partials/variables';

.DatePickerValueDisplay {
  border-top: solid 1px $DatePickerValueDisplayBorderColor;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $DatePickerValueDisplayVerticalPadding 0;
  width: $DatePickerValueDisplayWidth;
  height: $DatePickerValueDisplayHeight;
}

.DatePickerValueDisplay-selected-span, .DatePickerValueDisplay-value-span {
  font-weight: 600;
  margin: 0 0.3rem;
}
