@import '../partials/variables';
@import '../mixins/cell';

.DatePickerDay {
  @include cell();
  &.active {
    background-color: $DayActiveBGColor;
  }
}

.DatePickerDay-button {
  width: 100%;
  height: 100%;
  &:hover {
    background-color: $DayActiveBGColor;
  }
}
