/***
  COLOR PALLETTE
***/

/* Grey scale */
$c0: #FFFFFF;
$c1: #F5F5F5;
$c2: #EEEEEE;
$c3: #E0E0E0;
$c4: #BDBDBD;
$c5: #9E9E9E;
$c6: #757575;
$c7: #616161;
$c8: #424242;
$c9: #212121;
$c10: #000000;

$DatePickerFontColor: $c9;
$ActiveBGColor: rgba(0, 0, 0, 0.2);
$DayActiveBGColor: $ActiveBGColor;
$DatePickerBorderColor: $c7;
$DatePickerHeaderBorderColor: $c7;
$DatePickerRowBorderColor: $c5;
$DatePickerDayBorderColor: $DatePickerRowBorderColor;
$DatePickerValueDisplayBorderColor: $c5;
$DatePickerResetButtonBorderColor: $c6;
$DatePickerResetButtonBackgroundColor: $c1;

/***
  MEASUREMENTS
***/

/* DatePicker */
$DatePickerWidth: 100%;
$DatePickerMaxWidth: 20rem;
$DatePickerMinWidth: 15.625rem;
$DatePickerHeight: auto;

/* DatePickerRow */
$DatePickerRowWidth: 100%;
$DatePickerRowHeight: 2rem;

/* DatePickerDay */
$DatePickerDayWidth: calc(100% / 7);
$DatePickerDayHeight: 2rem;

/* DatePickerHeader */
$DatePickerHeaderWidth: 100%;
$DatePickerHeaderHeight: 2.4rem;

/* DatePickerValueDisplay */
$DatePickerValueDisplayWidth: 100%;
$DatePickerValueDisplayHeight: 2rem;

/* DatePickerReset */
$DatePickerValueDisplayVerticalPadding: 0.4rem;
$DatePickerResetWidth: 100%;
$DatePickerResetHeight: 3rem;
$DatePickerResetButtonWidth: 30%;
$DatePickerResetButtonHeight: 60%;
